<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Film</h1>
</div>
<div class="card mb-40">
    <div class="card-body">
        <h5 class="card-title border-bottom border-italia">
            <i class="fa fa-search"></i> Dettaglio
        </h5>
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row mt-40 justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <select name="genre" id="genre" [(ngModel)]="item.genre" class="form-control" #genre="ngModel" >
                            <option disabled selected>Seleziona una opzione</option>                            
                            <option value="Action">Action</option>
                            <option value="Crime">Crime</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Horror">Horror</option>
                        </select>
                        <label for="genre">Genre</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="title" [(ngModel)]="item.title" name="title" #title="ngModel" required>
                        <label [className]="item.title && item.title.length > 0 ? 'active' : ''" for="title">Title *</label>
                        <div class="invalid-feedback">Valore obbligatorio</div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="year" [(ngModel)]="item.year" name="year" #year="ngModel" >
                        <label [className]="item.year? 'active' : ''" for="year">Year</label>
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20 mt-40">Relazioni</h2>

                    <div class="pb-30">
                        <div class="mb-20">
                            <label>Cast</label>

                            <span class="dropdown ml-20">
                                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButtoncast" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtoncast">
                                    <button class="dropdown-item" *ngFor="let item of listCast" [class.disabled]="containActor(item._id)" (click)="$event.preventDefault(); containActor(item._id) || addActor(item._id)">{{item._id}}
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="mb-40">
                            <ul class="list-group">
                                <li class="list-group-item" *ngIf="!item.cast || item.cast.length == 0">No item found</li>
                                <li class="list-group-item" *ngFor="let obj of item.cast; let i = index">
                                    <a [routerLink]="['/actors', obj]">
                                        {{obj}}
                                    </a>

                                    <button class="btn btn-outline-primary btn-xs pull-right" type="button" (click)="removeActor(i)">
                                        Rimuovi
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <label for="FilmMaker">FilmMaker</label>
                    <select name="filmMaker" id="filmMaker" [(ngModel)]="item.filmMaker" class="form-control" #filmMaker="ngModel"  required>
                        <option disabled selected>Seleziona una opzione</option>                                                    
                        <option *ngFor="let item of listFilmMaker" [value]="item._id">{{item._id}}</option>
                    </select>
                        <div class="invalid-feedback">Valore obbligatorio</div>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Salva</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Torna alla lista</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>